CLMON_DB_PASSWORD=REPLACE_WITH_MONITOR_PASSWORD
CLMON_SMTP_PASSWORD=REPLACE_WITH_SMTP_PASSWORD
CLMON_TELEGRAM_BOT_TOKEN=REPLACE_WITH_TELEGRAM_BOT_TOKEN
CLMON_TELEGRAM_CHAT_ID=REPLACE_WITH_TELEGRAM_CHAT_ID
